.formComponent {
  margin-top: 75px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: right;
}

.form-title {
  font-size: 12px;
}

.formInput {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.radiobox {
  margin-top: 10px;
  text-align: center;
}
.buttons {
  color: #094e66;
}
