.gallery {
  margin-bottom: 50px;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  border-color: #094e66;
  border-width: 2px;
}

.doctors-card {
  color: #094e66;
  text-decoration: none;
}

.doctors-card:hover {
  color: #4dc9f4;
  text-decoration: none;
}

.cardImgDoctor {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-radius: 40px;
}
