body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.footer {
  width: 100%;
  background-color: #4dc9f4;
  margin: 0px auto;
}

.footer-item {
  text-align: center;
  justify-content: center;
}

.footer-item-text {
  color: white;
}

.footer-item-text:hover {
  color: #094e66;
}

.formComponent {
  margin-top: 75px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: right;
}

.form-title {
  font-size: 14px;
}

.formInput {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.radiobox {
  margin-top: 10px;
  text-align: center;
}

.gallery {
  margin-bottom: 50px;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  border-color: #094e66;
  border-width: 2px;
}

.cardImgDoctor {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-radius: 40px;
}

.buttons {
  color: #094e66;
}

.loginCard {
  margin-top: 75px;
}

.userImg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100px;
  border-radius: 100px;
}

.login-body {
  text-align: center;
}

.login-btn {
  background-color: #4dc9f4;
  margin-top: 25px;
  border: none;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
}

.phone-number {
  font-size: large;
}

.phoneContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.password {
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  text-align: center;
}

.menueparts {
  color: white;
}

.menueparts:hover {
  text-decoration: none;
  color: #4dc9f4;
}

.loginModal {
  margin-top: 95px;
}

.showmore {
  color: #094e66;
}

.imgDrawer {
  margin-left: auto;
  margin-right: auto;
}
