@import url(./assets/fonts/WebFonts/css/style.css);

/*Global*/
body {
  background-color: #eeeef0;
  font-size: 12px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*Home header*/
.menueparts {
  color: white;
}

.menueparts:hover {
  text-decoration: none;
  color: #4dc9f4;
}

.showmore {
  color: #094e66;
}

.imgDrawer {
  margin-left: auto;
  margin-right: auto;
}
/*Patient Header*/

.header {
  width: 100%;
  background-color: #4dc9f4;
  margin: 0px auto;
}

.header-item {
  padding: 15px;
  text-align: center;
  justify-content: center;
}

.header-item-text:hover {
  text-decoration: none;
  color: #094e66;
}

.header-item-text {
  font-size: 14px;
  color: white;
}

.active-header-item-text {
  font-weight: bold;
  color: #094e66;
}

.header-item-text:hover {
  color: #094e66;
}
/*Footer*/

.footer-co {
  width: 100%;
  background-color: #4dc9f4;
  margin: 0px auto;
}

.footer-item {
  padding: 15px;
  text-align: center;
  justify-content: center;
}

.footer-item-text:hover {
  text-decoration: none;
  color: #094e66;
}

.active-footer-item-text {
  color: #094e66;
}

.footer-item-text {
  font-size: 14px;
  color: white;
}

.footer-item-text:hover {
  color: #094e66;
}

/*Doctors Search*/
.formComponent {
  margin-top: 75px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: right;
}

.form-title {
  font-size: 12px;
}

.formInput {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.radiobox {
  margin-top: 10px;
  text-align: center;
}
.buttons {
  color: #094e66;
}

/*Doctor Gallery*/
.gallery {
  margin-bottom: 50px;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  border-color: #094e66;
  border-width: 2px;
}

.doctors-card {
  color: #094e66;
  text-decoration: none;
}

.doctors-card:hover {
  color: #4dc9f4;
  text-decoration: none;
}

.cardImgDoctor {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-radius: 40px;
}

/*Doctor and Patient Login*/
.loginCard {
  border-color: #4dc9f4;
  border-width: 1px;
  border-radius: 20px;
  margin-top: 75px;
  margin-bottom: 5px;
}

.userImg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 75px;
  border-radius: 100px;
}

.login-body {
  text-align: center;
}

.login-btn {
  background-color: #4dc9f4;
  border-radius: 15px;
  margin-top: 10px;
  border: none;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
}

.phoneContainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.phone-number {
  font-size: 14px;
  border-radius: 20px;
  border-color: #4dc9f4;
}

.passwordContainer {
  margin-left: auto;
  margin-right: auto;
}

.password {
  font-size: 14px;
  border-radius: 20px;
  border-color: #4dc9f4;
}

.text-danger {
  margin-top: 5px;
}

/*Patient Bio*/
.biography {
  margin-top: 70px;
  text-align: center;
  font-size: 12px;
}

.blue-divider {
  background-color: #4dc9f4;
}

/*Patient reserve*/

/*Patient State*/

/*Video Player*/
.span-player {
  display: block;
  padding-top: 57%;
}

.h_iframe-aparat_embed_frame {
  position: relative;
}
.h_iframe-aparat_embed_frame.ratio {
  display: block;
  width: 100%;
  height: auto;
}
.h_iframe-aparat_embed_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
