.header {
  background-color: #abb8c3;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.navBarContainer {
  margin-left: auto;
  text-align: right;
  align-items: flex-end;
}

.footer {
  background-color: #abb8c3;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.footer-item {
  text-align: center;
}

.footer-item-text {
  color: white;
}

.menue {
  text-align: right;
}

.formComponent {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: right;
}

.itemSelect {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.radioboxContainer {
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.radiocheck {
  text-align: center;
  columns: 3;
}
